



body{
   background-color: #FFF8F3;
}

hr{
  border-style: dotted none none none;
  border-width:10px;
  border-color:#AEE1E1;
  width : 7%;
}
h1{
  color: #66BFBF;
}
h3{
  color:#66BFBF;
}

p{
  color: #1E836C;
  font-size: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
